<div class="container-fluid">

  <header class="row bg-primary mb-2">
    <fa-icon [icon]="faProjectDiagram" size="2x" class="p-3"></fa-icon>
    <h3 class="my-auto">ERD designer</h3>
  </header>

  <section>
    <div class="row">
      <div class="col-2 pl-0">
        <accordion [isAnimated]="true">
          <accordion-group heading="Encje">
            <button class="btn" (click)="addTableToGraph()" tooltip="Encja">
              <fa-icon [icon]="faTable" size="2x"></fa-icon>
            </button>
          </accordion-group>
          <accordion-group heading="Relacje">
            <button class="btn mr-2" tooltip="Jeden do jeden">
              <img alt="one-to-one" src="assets/one-to-one.svg" width="50px" height="50px"/>
            </button>
            <button class="btn mr-2" tooltip="Jeden do wielu">
              <img alt="one-to-many" src="assets/one-to-many.svg" width="50px" height="50px"/>
            </button>
            <button class="btn" tooltip="Wiele do wielu">
              <img alt="many-to-many" src="assets/many-to-many.svg" width="50px" height="50px"/>
            </button>
          </accordion-group>
          <accordion-group heading="Dziedziczenie">
            <button class="btn" tooltip="Relacja dziedziczenia">
              <img alt="inheritance" src="assets/inheritance.png" width="100px" height="40px"/>
            </button>
          </accordion-group>
        </accordion>
      </div>

      <div #graphContainer [ngClass]="isColumnClicked ? 'col-7' : 'col-10'" style="min-height: 55rem" class="grid">
      </div>

      <div *ngIf="isColumnClicked" style="min-height: 55rem" class="col-3" [ngStyle]="{'z-index' : 10000}">
        <h3 class="text-center mt-2">Tabela {{chosenTableName}}</h3>
        <form (ngSubmit)="f.form.valid && saveColumn()" #f="ngForm">
          <label class="col-form-label"
                 for="nameInput">Nazwa kolumny</label>
          <input class="form-control"
                 id="nameInput"
                 [(ngModel)]="column.name"
                 name="columnName"
                 [ngClass] = "{'is-invalid': f.submitted && columnName.invalid}"
                 #columnName="ngModel"
                 type="text" [value]="column.name"
                 required appForbiddenName maxlength="63" pattern="^[0-9a-zA-Z$_]+$"/>
          <div *ngIf = "f.submitted && columnName.invalid" class="invalid-feedback">
            <div *ngIf = "columnName.errors?.required">
              Musisz podać nazwę kolumny
            </div>
            <div *ngIf = "columnName.errors?.reservedWord">
              Wpisałeś zarezerwowane słowo. Musisz podać inną nazwę
            </div>
            <div *ngIf = "columnName.errors?.maxlength">
              Podana nazwa jest zbyt długa. Maksymalnie może mieć 63 znaki
            </div>
            <div *ngIf = "columnName.errors?.pattern">
              Podana nazwa może zawierać tylko cyfry, podstawowe litery łacińskie, dolar i podkreślenie.
            </div>
          </div>

          <label class="col-form-label"
                 for="typeSelect">Typ kolumny</label>
          <select id="typeSelect" class="custom-select" [(ngModel)]="column.type" name="columnType">
            <option [selected]="type == column.type"
                    *ngFor="let type of columnTypes">{{type}}</option>
          </select>
          <div class="form-check mt-2">
            <input type="checkbox"
                   class="form-check-input"
                   [(ngModel)]="column.primaryKey"
                   name="primaryKey"
                   id="primaryKeyCheckbox"
                   [checked]="column.primaryKey"/>
            <label class="form-check-label" for="primaryKeyCheckbox">Klucz główny</label>
          </div>
          <div class="form-check mt-2">
            <input type="checkbox"
                   class="form-check-input"
                   [(ngModel)]="column.unique"
                   name="unique"
                   id="uniqueCheckbox"
                   [disabled]="column.primaryKey"
                   [checked]="column.unique"/>
            <label class="form-check-label" for="uniqueCheckbox">Unique</label>
          </div>
          <div class="form-check mt-2">
            <input type="checkbox"
                   class="form-check-input"
                   [(ngModel)]="column.notNull"
                   name="notNull"
                   id="notNullCheckbox"
                   [disabled]="column.primaryKey"
                   [checked]="column.notNull"/>
            <label class="form-check-label" for="notNullCheckbox">Not Null</label>
          </div>
          <input type="submit" class="btn btn-primary btn-block mt-2" value="Zapisz">
        </form>
      </div>
    </div>
  </section>
</div>
