.grid{
  background-image:
    linear-gradient(rgba(0, 0, 0, .1) .1em, transparent .1em),
    linear-gradient(90deg, rgba(0, 0, 0, .1) .1em, transparent .1em);
  background-size: 1em 1em;
}

.btn:hover {
  background-color: darkgray;
}

.menu-item {
  font-size: 22px;
  cursor: pointer;
  color: black;
}

.menu-item:hover {
  color: #393939 !important;
}

.textarea {
  resize: none;
  overflow: auto;
}
